In [ ]:
import duckdb

df = duckdb.sql("SELECT * FROM '/mnt/c/Projects/5MLET/modulo_02/scraper/data/raw/date=2025-07-14/ibov.parquet'").df()
df.head(10)

,segment,cod,asset,type,part,partAcum,theoricalQty,date
0,<NA>,ALOS3,ALLOS,ON NM,"0,491",<NA>,476.976.044,2025-07-13
1,<NA>,ABEV3,AMBEV S/A,ON,"2,780",<NA>,4.394.835.131,2025-07-13
2,<NA>,ASAI3,ASSAI,ON NM,"0,639",<NA>,1.345.897.506,2025-07-13
3,<NA>,AURE3,AUREN,ON NM,"0,140",<NA>,323.738.747,2025-07-13
4,<NA>,AZZA3,AZZAS 2154,ON NM,"0,232",<NA>,136.643.320,2025-07-13
5,<NA>,B3SA3,B3,ON NM,"3,396",<NA>,5.200.055.464,2025-07-13
6,<NA>,BBSE3,BBSEGURIDADE,ON NM,"1,068",<NA>,637.332.335,2025-07-13
7,<NA>,BBDC3,BRADESCO,ON N1,"0,966",<NA>,1.469.064.981,2025-07-13
8,<NA>,BBDC4,BRADESCO,PN N1,"3,902",<NA>,5.111.682.020,2025-07-13
9,<NA>,BRAP4,BRADESPAR,PN N1,"0,199",<NA>,250.982.988,2025-07-13